.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.second-section{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.items {
    display: flex;
    gap: 2rem;
}
.item{
    width: 300px;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-bottom: 16px;
}
.description{
    padding: 0 ;
}
.search-bar input{
    color: var(--clr-secondary);
    border: 3px solid var(--clr-primary);
  border-radius: 100vmax;
  padding: .6em 2.5em;
  background: #fff;
  box-shadow: 0 1.125em 1em -1em var(--clr-semi-primary);
  transition: .5s ease;
}
.product-nav{
    display: flex;
    gap: 16px;
}